<table mat-table [dataSource]="movies" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="Studio">
      <th mat-header-cell *matHeaderCellDef>Studio</th>
      <td mat-cell *matCellDef="let element"> {{element.Studio}} </td>
    </ng-container>
    <ng-container matColumnDef="weekend_income">
      <th mat-header-cell *matHeaderCellDef>weekend_income</th>
      <td mat-cell *matCellDef="let element"> {{element.weekend_income}} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell *matCellDef="let element"> <button (click)="toDelete(element)">Delete Item </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div style = "text-align: center; padding-top: 40px">The movie you deleted is: {{ name }}</div>